@using BV.PACS.WEB.Shared.Models
@inherits BV.PACS.WEB.Client.Shared.Base.AuditPanel<BV.PACS.WEB.Shared.Models.SourceAuditGridDto, BV.PACS.WEB.Client.I18nText.SourceAuditPanel>

@{
    if (GroupedData == null)
    {
        <div class="row">@PacsMessagesTranslations.Loading</div>
    }
    else
    {
        <div class="row">
            <div class="col-sm-12">
                <DxFormLayout CaptionPosition="@CaptionPosition.Vertical">

                    @foreach (var group in GroupedData)
                    {
                        <SourceAuditRecord AuditData=@group
                                           OnClick=@OnChildClick
                                           @key="group.Key">

                        </SourceAuditRecord>
                    }

                </DxFormLayout>

            </div>
        </div>
    }
}
