@page "/AliquotCatalog"
@using BV.PACS.Client.Shared.Catalogs
@using BV.PACS.Shared.Models
@using Microsoft.AspNetCore.Components
@inherits BV.PACS.Client.Shared.Catalogs.CatalogComponent
@inject HttpClient _http

<h1>Aliquot Catalog</h1>

@if (_Aliquots == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <div class="row">
        <div class="@CatalogState.SearchPanelCssClass">
            <AliquotSearchPanel OnSearch=@OnSearchPanelSearch>

            </AliquotSearchPanel>
        </div>

        <div class="@CatalogState.GridPanelCssClass">
            <div class="row">

                <div class="col-sm-12">
                    <button onclick="@OnSearchPanelToggle" class="btn btn-info float-right">@CatalogState.ShowHideSearchPanelCaption</button>
                </div>
                <div class="col-sm-12">
                    <DxFormLayout CaptionPosition=@CaptionPosition.Vertical>
                        <DxFormLayoutItem ColSpanLg="12" ColSpanMd="12">
                            <Template>
                                <DxDataGrid Data=@_Aliquots
                                            ShowFilterRow=@false
                                            ShowPager=@false
                                            AllowRowSelection=@false
                                            PageSize=@CatalogState.Condition.PageSize>
                                    <DxDataGridCommandColumn Width="150px"></DxDataGridCommandColumn>
                                    <DxDataGridColumn Field=@nameof(AliquotListItem.AliquotBarcode)></DxDataGridColumn>
                                    <DxDataGridColumn Field=@nameof(AliquotListItem.AliquotTemplateName) Caption="Template Name"></DxDataGridColumn>
                                    <DxDataGridDateEditColumn Field=@nameof(AliquotListItem.AliquotCreationDate)></DxDataGridDateEditColumn>
                                    <DxDataGridColumn Field=@nameof(AliquotListItem.AliquotStatus)></DxDataGridColumn>
                                </DxDataGrid>
                                @if (_pageCount > 1)
                                {
                                    <DxPager PageCount=@_pageCount
                                             bind-ActivePageIndex=@ActivePageNumber
                                             CollapseButtonCount=@CatalogState.CollapseButtonCount>
                                    </DxPager>
                                }
                            </Template>
                        </DxFormLayoutItem>
                    </DxFormLayout>
                </div>
            </div>
        </div>
    </div>
}

@functions {

    private int _pageCount;
    private AliquotListItem[] _Aliquots;

    protected override async Task BeginGetPageCountAsync(AggregatedConditionDto cond)
    {
        _pageCount = await _http.PostJsonAsync<int>("api/Catalog/GetAliquotsRecordCount", cond) / cond.PageSize;
    }

    protected override async Task BeginGetDataAsync(AggregatedConditionDto cond)
    {
        _Aliquots = await _http.PostJsonAsync<AliquotListItem[]>("api/Catalog/GetAliquots", cond);
    }

}