@page "/"
@using BV.PACS.Client.Pages.Aliquots
@using BV.PACS.Client.Pages.Materials
@using BV.PACS.Client.Pages.Sources
@using BV.PACS.Client.Pages.Tests
@using BV.PACS.Client.Services
@inject ApplicationContextService _applicationContextService;


<TopMenu
    OnMenuClick="@StateHasChanged">
</TopMenu>

<div class="content px-4">
    @{

        var state = _applicationContextService.CurrentApplicationContext;
        <div>Debug: Stack depth = @_applicationContextService._contexts.Count</div>
        <div>Debug: Context = @state?.PageContext</div>
        <div>Debug: PageName  = @state?.PageName</div>


        TrackingFormContext trackingFormContext =  state?.PageContext as TrackingFormContext;

        var id = trackingFormContext?.Id ?? 0;

        switch (state?.PageName)
        {
            case nameof(SourceCatalog):
                <SourceCatalog OnOpenTrackingForm=@DoOpenTrackingForm>
                </SourceCatalog>
                break;
            case nameof(MaterialCatalog):
                <MaterialCatalog OnOpenTrackingForm=@DoOpenTrackingForm>
                </MaterialCatalog>
                break;
            case nameof(AliquotCatalog):
                <AliquotCatalog OnOpenTrackingForm=@DoOpenTrackingForm>
                </AliquotCatalog>
                break;
            case nameof(TestCatalog):
                <TestCatalog OnOpenTrackingForm=@DoOpenTrackingForm>
                </TestCatalog>
                break;

            case nameof(SourceTracking):
                <SourceTracking Id=@id OnClose=@DoClosePage>
                </SourceTracking>
                break;
            case nameof(MaterialTracking):
                <MaterialTracking Id=@id OnClose=@DoClosePage>
                </MaterialTracking>
                break;
            case nameof(AliquotTracking):
                <AliquotTracking Id=@id OnClose=@DoClosePage>
                </AliquotTracking>
                break;
            case nameof(TestTracking):
                <TestTracking Id=@id OnClose=@DoClosePage>
                </TestTracking>
                break;

            default:
                <StartForm></StartForm>
                break;
        }
    }

</div>

@functions
{

    public void DoOpenTrackingForm(string pageName, int context)
    {
        _applicationContextService.OpenTrackingPage(pageName, context);
        StateHasChanged();
    }
    public void DoClosePage(DialogResult result)
    {
        _applicationContextService.ClosePage( result);
        StateHasChanged();
    }
}