@using BV.PACS.Client.Pages
@using Microsoft.AspNetCore.Components
<h1>Welcome to the new PACS app.</h1>

<div class="alert alert-primary mt-4" role="alert">
    <span class="oi oi-pencil mr-2" aria-hidden="true"></span>
    <strong>PACS Start Page</strong>

</div>

@functions {

   
}