@using BV.PACS.WEB.Shared.Models
@using Microsoft.AspNetCore.Components
@inherits BV.PACS.WEB.Client.Materials.BatchRegistrationPanelCode



    <div class="row">
     
      <DxFormLayout CaptionPosition="@CaptionPosition.Vertical">
          <DxFormLayoutItem Caption="@Translations.RegistrationDate" ColSpanLg="12" ColSpanMd="12">
              <Template>
                  <DxTextBox Text="XXXX" ></DxTextBox>
              </Template>
          </DxFormLayoutItem>

           

      </DxFormLayout>
    </div>

