@using BV.PACS.WEB.Shared.Models
@inherits BV.PACS.WEB.Client.Materials.BatchContentPanelCode


<div class="row">
    <div class="col-sm-12">
        <BatchContentTemplatePanel @ref="@_templatePanel" @ref:suppressField OnValidSubmit="@(async (model) => await HandleValidSubmit(model))">
        </BatchContentTemplatePanel>
    </div>

    <div class="col-sm-12">
        <BatchContentGridPanel @ref="@_gridPanel" @ref:suppressField>
        </BatchContentGridPanel>
    </div>
</div>