@using BV.PACS.WEB.Shared.Models
@using Microsoft.AspNetCore.Components
@inherits BV.PACS.WEB.Client.Materials.BatchRegistrationPanelCode



    <div class="row">
      Registration tab is active

    </div>

