@using BV.PACS.WEB.Shared.Models
@using Microsoft.AspNetCore.Components
@inherits BV.PACS.WEB.Client.Materials.BatchContentPanelCode



    <div class="row">
        Content tab is active

    </div>

