<nav class="navbar navbar-default top-bar ">
    <div class="container-fluid">

        <a class="navbar-brand" href="">BV.PACS</a>
        <ul class="nav flex-column">
            <li class="nav-item px-3" style="padding-bottom: 0px; padding-top: 0px;">
                <NavLink class="nav-link" href="SourceCatalog">
                    <span class="oi oi-list-rich" aria-hidden="true"></span>&nbsp; Source Catalog
                </NavLink>
            </li>
        </ul>
        <ul class="nav flex-column">
            <li class="nav-item px-3" style="padding-bottom: 0px; padding-top: 0px;">
                <NavLink class="nav-link" href="MaterialCatalog">
                    <span class="oi oi-list-rich" aria-hidden="true"></span>&nbsp; Material Catalog
                </NavLink>
            </li>
        </ul>
        <ul class="nav flex-column">
            <li class="nav-item px-3" style="padding-bottom: 0px; padding-top: 0px;">
                <NavLink class="nav-link" href="AliquotCatalog">
                    <span class="oi oi-list-rich" aria-hidden="true"></span>&nbsp; Aliquot Catalog
                </NavLink>
            </li>
        </ul>
        <ul class="nav flex-column">
            <li class="nav-item px-3" style="padding-bottom: 0px; padding-top: 0px;">
                <NavLink class="nav-link" href="TestCatalog">
                    <span class="oi oi-list-rich" aria-hidden="true"></span>&nbsp; Test Catalog
                </NavLink>
            </li>
        </ul>
        <a href="http://blazor.net" target="_blank" class="ml-md-auto">A fancy link</a>
    </div>
</nav>

