@using BV.PACS.Client.Pages.Aliquots
@using BV.PACS.Client.Pages.Materials
@using BV.PACS.Client.Pages.Sources
@using BV.PACS.Client.Pages.Tests
@using BV.PACS.Client.Services
@using Microsoft.AspNetCore.Components
@inject ApplicationContextService _applicationContextService;

<nav class="navbar navbar-default top-bar ">
    <div class="container-fluid">

        <a class="navbar-brand" href="">BV.PACS</a>
        <ul class="nav flex-column">
            <li class="nav-item px-3" style="padding-bottom: 0px; padding-top: 0px;">
                <button onclick="@DoOpenSourceCatalog" class="btn btn-primary">Source Catalog</button>
            </li>
        </ul>
        <ul class="nav flex-column">
            <li class="nav-item px-3" style="padding-bottom: 0px; padding-top: 0px;">
                <button onclick="@DoOpenMaterialCatalog" class="btn btn-primary">Material Catalog</button>
            </li>
        </ul>
        <ul class="nav flex-column">
            <li class="nav-item px-3" style="padding-bottom: 0px; padding-top: 0px;">
                <button onclick="@DoOpenAliquotCatalog" class="btn btn-primary">Aliquot Catalog</button>
            </li>
        </ul>
        <ul class="nav flex-column">
            <li class="nav-item px-3" style="padding-bottom: 0px; padding-top: 0px;">
                <button onclick="@DoOpenTestCatalog" class="btn btn-primary">Test Catalog</button>
            </li>
        </ul>
        <a href="http://blazor.net" target="_blank" class="ml-md-auto">A fancy link</a>
    </div>
</nav>


@functions
{
    [Parameter]
    public Action OnMenuClick { get; set; }

    private void DoOpenSourceCatalog()
    {
        DoOpenCatalogPage(nameof(SourceCatalog));
    }

    private void DoOpenMaterialCatalog()
    {
        DoOpenCatalogPage(nameof(MaterialCatalog));
    }

    private void DoOpenAliquotCatalog()
    {
        DoOpenCatalogPage(nameof(AliquotCatalog));
    }

    private void DoOpenTestCatalog()
    {
        DoOpenCatalogPage(nameof(TestCatalog));
    }

    private void DoOpenCatalogPage(string pageName)
    {
        _applicationContextService.Clear();
        _applicationContextService.OpenCatalogPage(pageName);
        OnMenuClick?.Invoke();
    }

    private void DoOpenTrackingPage(string pageName, int context)
    {
        _applicationContextService.Clear();
        _applicationContextService.OpenTrackingPage(pageName, context);
        OnMenuClick?.Invoke();
    }

}