@using BV.PACS.WEB.Shared.Models
@inherits BV.PACS.WEB.Client.Shared.Base.AuditPanel<BV.PACS.WEB.Shared.Models.MaterialAuditGridDto, BV.PACS.WEB.Client.I18nText.MaterialAuditPanel>

@{
    if (GroupedData == null)
    {
        <div class="row">@PacsMessagesTranslations.Loading</div>
    }
    else
    {
        <div class="row">
            <div class="col-sm-12">
                <DxFormLayout CaptionPosition="@CaptionPosition.Vertical">

                    @foreach (var group in GroupedData)
                    {
                        <MaterialAuditPanelRecord 
                            AuditData=@group.Value
                            AuditTitle=@group.Key
                            OnClick=@OnChildClick
                            @key="group.Key">

                        </MaterialAuditPanelRecord>
                    }

                </DxFormLayout>

            </div>
        </div>
    }
}