@using Microsoft.AspNetCore.Components
@using BV.PACS.WEB.Client.Shared.Components
@inherits BV.PACS.WEB.Client.Shared.Base.TrackingForm< BV.PACS.WEB.Client.I18nText.Text>
<h1>Material Tracking</h1>

<div class="row">

    <div class="card demo-card alert alert-primary background-white">
        <div class="card-body  border-top-0">
            <DxTabs @bind-ActiveTabIndex="@ActiveTabIndex">

                <DxTab Text="General info"></DxTab>
                <DxTab Text="Aliquots"></DxTab>

                <DxTab Text="Audit log"></DxTab>

            </DxTabs>
            <div class="card demo-card dxbs-border-top-0 dxbs-border-radius-top-0">
                <div class="card-body">
                    @switch (ActiveTabIndex)
                    {
                        case 0:
                            <MaterialTrackingPanel Id=@Id
                                                   @ref=@TrackingPanel>

                            </MaterialTrackingPanel>
                            break;

                        case 1:
                            <MaterialAliquotsPanel
                                Id=@Id>
                            </MaterialAliquotsPanel>
                           
                            break;

                        case 2:
                            <MaterialAuditPanel Id=@Id>
                            </MaterialAuditPanel>
                            break;
                    }
                </div>
            </div>
            <OkCancelPanel OnOk="@DoOk"
                           OnCancel="@DoCancel">
            </OkCancelPanel>
        </div>
    </div>


</div>

@functions {
}