
@using Microsoft.AspNetCore.Components
@inherits BaseTrackingForm

<h1>Test Tracking</h1>

<div class="row">

    <div class="card demo-card alert alert-primary background-white ">
        <div class="card-body  border-top-0">
            <DxTabs bind-ActiveTabIndex="@ActiveTabIndex">
                <DxTab Text="General info"></DxTab>
                <DxTab Text="Audit log"></DxTab>
            </DxTabs>
            <div class="card demo-card dxbs-border-top-0 dxbs-border-radius-top-0">
                <div class="card-body">
                    @switch (ActiveTabIndex)
                    {
                        case 0:
                            <TestTrackingPanel Id=@Id>

                            </TestTrackingPanel>
                            break;

                        case 1:
                            <i>"Audit log" tab is active.</i>
                            break;
                    }
                </div>
            </div>
            <OkCancelPanel OnOk=@DoOk
                           OnCancel=@DoCancel>
            </OkCancelPanel>
        </div>
    </div>


</div>

@functions {



}