@using BV.PACS.Shared.Models
@using Microsoft.AspNetCore.Components

<button type="button" class="btn btn-link" onclick="@OnClick">@Barcode</button>

@functions {

    [Parameter]
    object Context { get; set; }

    int Id => Context is TestCatalogDto test ? test.TestId : 0;
    string Barcode => Context is TestCatalogDto test ? test.TestBarcode : string.Empty;

    [Parameter]
    public Action<string, int> OnCellClick { get; set; }

    private void OnClick()
    {
        if (Id > 0)
        {
            OnCellClick?.Invoke(nameof(TestTrackingForm), Id);
        }
    }

}