
@using Microsoft.AspNetCore.Components
@using BV.PACS.Client.Shared.Components
@inherits BV.PACS.Client.Shared.Base.TrackingForm< BV.PACS.Client.I18nText.Text>

<h1>Test Tracking</h1>

<div class="row">

    <div class="card demo-card alert alert-primary background-white ">
        <div class="card-body  border-top-0">
            <DxTabs @bind-ActiveTabIndex="@ActiveTabIndex">
                <DxTab Text="General info"></DxTab>
                <DxTab Text="Audit log"></DxTab>
            </DxTabs>
            <div class="card demo-card dxbs-border-top-0 dxbs-border-radius-top-0">
                <div class="card-body">
                    @switch (ActiveTabIndex)
                    {
                        case 0:
                            <TestTrackingPanel Id=@Id
                                               @ref=@TrackingPanel>

                            </TestTrackingPanel>
                            break;

                        case 1:
                            <TestAuditPanel Id=@Id>
                            </TestAuditPanel>
                            break;
                    }
                </div>
            </div>
            <OkCancelPanel OnOk=@DoOk
                           OnCancel=@DoCancel>
            </OkCancelPanel>
        </div>
    </div>


</div>

@functions {




}