@using BV.PACS.Shared.Models
@using Microsoft.AspNetCore.Components
@{

    if (Id > 0)
    {
        
        <button type="button" class="btn btn-link" onclick="@OnClick">@Barcode</button>
    }
    else
    {
        @Barcode
    }
}

@functions {

    [Parameter]
    object Context { get; set; }

    int Id => Context is SourceCatalogDto source ? source.SourceId : 0;
    string Barcode => Context is SourceCatalogDto source ? source.SourceBarcode : string.Empty;

    [Parameter]
    public Action<string, int> OnCellClick { get; set; }

    private void OnClick()
    {
        OnCellClick?.Invoke(nameof(SourceTracking), Id);
    }

}