@using BV.PACS.Shared.Models
@using BV.PACS.Shared.Models.Parameters
@using Microsoft.AspNetCore.Components
@inject HttpClient _http



<div class="row">

   ID = @Id
   @{
       if (TrackingObject != null)
       {
           <div>@TrackingObject</div>
       }
   }


</div>

@functions {

    [Parameter]
    private int Id { get; set; }

    private SourceTrackingDto TrackingObject { get; set; }

    protected override async Task OnInitAsync()
    {
        await BeginGetDataAsync(new TrackingParameter(Id, BaseSettings.Language));
        
    }


    private async Task BeginGetDataAsync(TrackingParameter parameter)
    {
        var attr = typeof(SourceTrackingDto).GetCustomAttributes(typeof(DataUrlAttribute), false).FirstOrDefault();
        if (attr is DataUrlAttribute urlAttribute)
        {
            TrackingObject = await _http.PostJsonAsync<SourceTrackingDto>(urlAttribute.Url, parameter);
        }
    }

}