@inherits LanguageSelectorClass
<div class="ml-md-auto">
    <div class="form-row align-items-center text-muted px-4 ">
        <div class="col"></div>
        <div class="col-auto">
            <span class="oi oi-globe" aria-hidden="true"></span>
        </div>
        <div class="col-auto">
            <select class="form-control form-control-sm" @onchange="@OnChangeCurrentLang">
                <option value="en-US" selected="@(CurrentLang == "en-US")">English</option>
                <option value="ru-RU" selected="@(CurrentLang == "ru-RU")">Русский</option>
            </select>
        </div>
    </div>

</div>