@inherits OkCancelPanelCode
@using Microsoft.AspNetCore.Components
<div class="card-body row">

    <ul class="nav flex-column ">
        <li class="nav-item px-3">
            <button @onclick="@DoOk" class="btn btn-primary">@Translations.ButtonOk</button>
        </li>
    </ul>

    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <button @onclick="@DoCancel" class="btn btn-secondary">@Translations.ButtonCancel</button>
        </li>
    </ul>

</div>
