@inherits BV.PACS.WEB.Client.Shared.Components.SourceMaterialTreeCode
@using Microsoft.AspNetCore.Components
<div class="card demo-card">
    <div class="card-body">
        @if (SourceTypes != null)
        {
            <PopupEditor OnOk="@SourceTypeSelected"
                         OkText="@PacsMessagesTranslations.Select"
                         OnCancel="@SourceTypeCancelled"
                         CancelText="@PacsMessagesTranslations.Cancel"
                         EditorText="@SelectedItem?.Name"
                         ModalTitle="Title">

                <div class="pacsScroll">

                    <DxTreeView AllowSelectNodes="true"
                                SelectionChanged=@SelectionChanged
                                CssClass="mw-480"
                                Data=@GetParentNodes()
                                ExpandButtonIconCssClass="oi oi-chevron-right"
                                CollapseButtonIconCssClass="oi oi-chevron-bottom"
                                TextExpression=@(dataItem => GetNodeText(dataItem))
                                ChildrenExpression=@(dataItem => GetNodeChildren(dataItem))>
                    </DxTreeView>
                </div>

            </PopupEditor>
        }
    </div>
</div>