@inherits SourceMaterialTreeCode


<PopupEditor OnOk="@Selected"
             OkText="@PacsMessagesTranslations.Select"
             OnCancel="@Cancelled"
             CancelText="@PacsMessagesTranslations.Cancel"
             EditorText="@SelectedItem?.Name"
             ModalTitle="Title">
    @if (Data != null)
    {
        <div class="pacsScroll">

            <DxTreeView AllowSelectNodes="true"
                        SelectionChanged=@SelectionChanged
                        CssClass="mw-480"
                        Data=@GetParentNodes()
                        ExpandButtonIconCssClass="oi oi-chevron-right"
                        CollapseButtonIconCssClass="oi oi-chevron-bottom"
                        TextExpression=@(dataItem => GetNodeText(dataItem))
                        ChildrenExpression=@(dataItem => GetNodeChildren(dataItem))>
            </DxTreeView>

        </div>
    }
</PopupEditor>