@using BV.PACS.WEB.Client.Pages
@using BV.PACS.WEB.Client.Shared.Components
@using Microsoft.AspNetCore.Components
@inherits BV.PACS.WEB.Client.Shared.Base.TranslatablePanel<BV.PACS.WEB.Client.I18nText.StartForm>
<h1>@Translations.Caption</h1>

<div class="row alert alert-primary background-white">
    <div class="col-sm-12">

        <span class="oi oi-pencil mr-2" aria-hidden="true"></span>

     
    </div>
</div>