@using BV.PACS.WEB.Client.Services.Api
@using BV.PACS.WEB.Shared.Models
@using BV.PACS.WEB.Shared.Models.Parameters
@using BV.PACS.WEB.Client.Shared.Components
@inherits BV.PACS.WEB.Client.Shared.Base.TranslatablePanel<BV.PACS.WEB.Client.I18nText.StartForm>
@inject HttpClient _http
@inject LookupService _apiService
<h1>@Translations.Caption</h1>


<div class="row alert alert-primary background-white">
    <div class="col-sm-12">

        <div class="card demo-card">
            <div class="card-body">
                <SourceMaterialTree Data="@SourceTypes"
                                    SelectedItem="SelectedItem"
                                    OnCancel="@SourceTypeCancelled"
                                    OnSelect="@SourceTypeSelected">

                </SourceMaterialTree>

            </div>
        </div>

    </div>
</div>

@functions
{

    protected SourceMaterialTypeLookupItem SelectedItem { get; set; } = new SourceMaterialTypeLookupItem();
    protected SourceMaterialTypeLookupItem[] SourceTypes { get; set; }

    protected void SourceTypeCancelled()
    {
        StateHasChanged();
    }

    protected void SourceTypeSelected(SourceMaterialTypeLookupItem lookupItem)
    {
        SelectedItem = lookupItem;
        StateHasChanged();
    }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        SourceTypes = await _apiService.GetSourceMaterialTypesLookup(_http, SourceMaterialTypeLookupParameter.Source);
    }

}