@using BV.PACS.WEB.Shared.Models
@using Microsoft.AspNetCore.Components

<button type="button" class="btn btn-link" @onclick="@OnClick">@Barcode</button>

@functions {

    [Parameter]
    public object Context { get; set; }

    [Parameter]
    public Action<string, int> OnCellClick { get; set; }

    private int Id => Context is TestCatalogDto test ? test.TestId : 0;
    private string Barcode => Context is TestCatalogDto test ? test.TestBarcode : string.Empty;

    private async Task OnClick()
    {
        if (Id > 0)
        {
            await InvokeAsync(()=>OnCellClick?.Invoke(nameof(TestTrackingForm), Id));
        }
    }

}